:root {
	--white: white;
	--grey: #D4C9C7;
	--text: #222120;
	--text-light: #54504F;
	--bg-light-grey: #E7E6EB;
	--accent: #FFD701 /*2D3BEB*/ /*E33727*/ /*CC3A2D*/;
	--accent-light: #7D6A19 /*#D8D9EB*/;
	--system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	--text-font: 'Libre Franklin';
	--mono-font: Inconsolata;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--white: #222120;
		--text: white;
		--text-light: #cac2c0;
		--bg-light-grey: #4c4c50;
	}
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr 100vw 1fr;
	grid-template-areas: "gutter-left center gutter-right";
	font-family: var(--text-font), var(--system-font);
	font-weight: 400;
	font-size: 1rem;
	color: var(--text);
	background-color: var(--white);
}

.text-base {
	font-size: 1rem;
}

@media screen and (min-width: 720px) {
	body {
		grid-template-columns: 1fr minmax(min-content, 37.5rem) 1fr;
	}
}

@media screen and (min-width: 400px) {
	.text-base,
	body {
		font-size: 1.2rem;
	}
}

p,
pre,
code {
	line-height: 1.6;
}

p {
	margin-top: 0;
	margin-bottom: 1.5em;
}

a[href],
a[href]:visited {
	color: var(--text);
	text-decoration: underline;
	transition: .15s color, .15s text-decoration-color;
	text-decoration-color: var(--bg-light-grey);
	text-decoration-thickness: 2px;
}

.accent,
a[href].accent {
	color: var(--accent);
}

a[href]:hover {
	//color: var(--text-light);
	text-decoration-color: var(--accent);
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: 600;
	line-height: 1;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.2rem;
}

strong {
	font-weight: 600;
}

.underline-separator {
	position: relative;
	display: inline-block;
	margin-bottom: .25em;
}

.underline-separator::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -.15em;
	width: 125%;
	height: 3px;
	background-color: var(--accent);
}

header,
main,
footer {
	grid-column: center;
	padding: 1em;
}

main {
	padding-bottom: 2em;
}

main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 16px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	width: 100%;
	padding: 1em;
	margin: .5em 0 1.8em!important;
	overflow-x: scroll;
}

pre,
code {
	font-family: Inconsolata, Consolas, 'Courier New', Courier, monospace;
}

article code:not([class*=language]) {
	font-weight: 700;
	padding: .2em .4em;
	background: var(--bg-light-grey);
	border-radius: 4px;
}

small,
sup,
sub {
	font-size: .8em;
}

ul {
	margin-bottom: 1.5em;
}

time {
	font-family: var(--mono-font);
	font-weight: 500;
	color: var(--text-light);
}

:not(article) > ul {
	padding: 0;
	margin-bottom: 0;
	list-style: none;
}

article > ul > li {
	margin-bottom: .5em;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 1.5em;
}

header p {
	margin-bottom: 0;
}

/* Header Logo (style as h2) */
.logo {
	position: relative;
	display: block;
	margin: 0;
	font-size: 1.6rem;
	font-weight: 600;
	font-style: normal;
	line-height: 1;
	text-transform: lowercase;
}

.logo a {
	text-decoration: none;
}

.cursor {
	position: absolute;
	bottom: -.1em;
	left: calc(100% + .15em);
	display: inline-block;
	width: .75em;
	line-height: 1;
	border-bottom: 4px solid var(--accent);
}

.nav a[href] {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--white);
	transition: .15s text-decoration-color;
}


.nav a[data-current="current item"] {
	text-decoration-color: var(--bg-light-grey);
}

.nav a:hover {
	text-decoration-color: var(--accent);
}

header nav {
	font-size: 1.2rem;
	margin-top: 1em;
	color: var(--text-light);
}

.nav ul {
	margin: 0 0 .1em;
}

/* Header Nav */
.nav ul :first-child {
	margin-left: 0;
}

.nav li {
	display: inline-block;
	margin: 0 .5em;
	text-transform: lowercase;
}

/* header nav li a[data-current="current item"]::after {
	content: '';
	position: absolute;
	bottom: -1px;
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--accent);
} */

footer {
	color: var(--text-light);
}

.post-listing-header {
	margin-top: 2.5rem;
}

.post-listing {
	display: flex;
	margin-bottom: 1em;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.2;
}

.post-listing time {
	flex: none;
	margin-right: .5em;
}

.post-listing a {
	flex: 1 1 0;
}

/* Posts List */
article {
	margin-bottom: 2.5em;
	padding-bottom: 2.5em;
	border-bottom: 1px solid var(--grey);
}

article p:last-child {
	margin-bottom: 0;
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
	height: 2em;	
	padding: 0 .5em;
	margin: 0 .5em .5em 0;
	font-family: var(--mono-font);
	font-weight: 500;
	font-size: .625em;
	line-height: 1.9;
	letter-spacing: .1em;
	vertical-align: text-top;
	text-transform: uppercase;
	color: var(--accent);
	background-color: var(--accent-light);
	border: 1px solid var(--accent-light);
	border-radius: .25em;
	text-decoration: none;
	transition: border-color .3s;
}

a[rel="tag"]:hover {
	border: 1px solid var(--accent);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

.post-metadata {
	display: flex;
	flex-direction: column;
}

.post-metadata a {
	margin-bottom: 0;
}

@media screen and (min-width: 400px) {
	.post-metadata {
		flex-direction: row;
		align-items: center;
	}

	.post-metadata time {
		margin-right: 1em;
	}
}

/* Contact Form */
form {
	display: grid;
	padding: 0;
}

form label {
  	display: none;
}

input,
textarea,
button {
	width: 100%;
	padding: .75em;
	margin-bottom: 1em;
	font-family: var(--system-font);
	font-size: 1.2rem;
	line-height: 1;
	border: none;
	border-radius: 4px;
}

.input,
.textarea,
.button {
	font-family: var(--text-font), var(--system-font);
}

input,
textarea {
	color: var(--text-light);
	background: var(--bg-light-grey);
}

button {
	width: auto;
	min-width: 8em;
	font-weight: 600;
	background-color: var(--accent);
	color: var(--white);
	cursor: pointer;
}

.inline-form-group {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
	.inline-form-group {
		flex-wrap: nowrap;
	}
}