---
layout: layouts/base.njk
section: post
---

<article>
  <h1>{{ title }}</h1>
  <p class="post-metadata">
    <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    {% if tags %}
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
    {% endif %}
  </p>

  {{ layoutContent | safe }}
</article>

<nav>
  <a href="{{ '/' | url }}">← home</a>
</nav>
