<footer>
  <small>
    Copyright &copy; 2021 <a href="{{ metadata.author.twitter_url }}">Hunter Miller</a>, <code>~nocsyx-lassul</code>
  </small>
</footer>

<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/3.js" site="ILTLKAMU"></script>
<!-- / Fathom -->