<footer>
  <small>
    Copyright &copy; 2020 <a class="accent" href="{{ metadata.author.twitter_url }}">Hunter Miller</a>, front-end architect and web perf enthusiast.
  </small>
</footer>

<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/3.js" site="ILTLKAMU"></script>
<!-- / Fathom -->