<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  <link rel="dns-prefetch" href="https://use.typekit.net">
  <link rel="preload" href="https://use.typekit.net/sqq3kst.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://use.typekit.net/sqq3kst.css"></noscript>

  {% set js %}
    {% include "assets/js/cssrelpreload.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
