<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ metadata.title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#2d3beb">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta name="msapplication-TileColor" content="#2d3beb">
  <meta name="msapplication-config" content="/static/browserconfig.xml">
  <meta name="theme-color" content="#2d3beb">

  {% set jsdetect %}
    {% include "assets/js/detect-cached-font.js" %}
  {% endset %}
  <script>{{ jsdetect | jsmin | safe }}</script>

  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  
  <link rel="dns-prefetch" href="https://use.typekit.net">
  <link rel="preload" href="https://use.typekit.net/sqq3kst.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://use.typekit.net/sqq3kst.css"></noscript>

  {% set js %}
    {% include "assets/js/cssrelpreload.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
