<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffd701">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  {% if shareimage %}
    <meta name="image" content="{{ metadata.url }}{{ shareimage }}">
  {% endif %}
  <meta name="google-site-verification" content="-jUvV8UCjKbZHLw4B05Le_8bpxcMcGHsEouh3y-tV9I" />
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="{{ title }} | {{ metadata.title }}">
  <meta itemprop="description" content="{{ description or metadata.description }}">
  {% if shareimage %}
    <meta itemprop="image" content="{{ metadata.url }}{{ shareimage or '/static/share.png' }}">
  {% endif %}
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }} | {{ metadata.title }}">
  <meta name="twitter:description" content="{{ description or metadata.description }}">
  <meta name="twitter:creator" content="{{ metadata.author.twitter }}">
  {% if shareimage %}
    <meta name="twitter:image:src" content="{{ metadata.url }}{{ shareimage or '/static/share.png' }}">
  {% endif %}
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="{{ title }}">
  <meta name="og:description" content="{{ description or metadata.description }}">
  {% if shareimage %}
    <meta name="og:image" content="{{ metadata.url }}{{ shareimage or '/static/share.png' }}">
  {% endif %}
  <meta name="og:url" content="{{ metadata.url }}">
  <meta name="og:site_name" content="{{ metadata.title }}">
  <meta name="og:locale" content="en_US">
  <meta name="og:type" content="website">

  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
   
  {% if highlighting %}
    <link rel="preload" href="/_includes/assets/css/a11y-dark.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/_includes/assets/css/a11y-dark.css"></noscript>
  {% endif %}

  {% set js %}
    {% if highlighting %}
      {% include "assets/js/cssrelpreload.js" %}
    {% endif %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>

</head>
