<section>
	{% for post in postslist | reverse %}
		<h2 class="post-listing">
			<time datetime="{{ post.date | machineDate }}">
				<small>{{ post.date | shortDate }}</small>
			</time>
			<a href="{{ post.url | url }}">					
				{{ post.data.title }}
			</a>
		</h2>
	{% endfor %}
</section>
