<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<h1 class="logo">
				<a href="{{ '/' | url }}">
					<span hidden aria-hidden>~</span>
					<span>Hunter Miller</span>
					<span class="cursor"></span>
				</a>
			</h1>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

		{% block thirdparty %}{% endblock %}
	</body>

</html>
