---
layout: layouts/base.njk
section: home
---

<div class="home-intro">
    <h1 class="huge">Hi, I'm Hunter!</h1>
    <p>I'm a web developer focused on making people&nbsp;happy.&nbsp;😃</p>
</div>

{{ layoutContent | safe }}

<p>If you'd like to keep up with my thoughts and work, subscribe to my&nbsp;newsletter:</p>

{% include "components/signup.njk" %}