---
layout: layouts/base.njk
section: home
---

<div class="home-intro">
    <h1 class="huge">Sick of frustrating users and losing more daily?</h1>
    <p>Learn how to <strong>bring peace to your users</strong> (and devs) by thinking more <strong>holistically</strong>,  finding <strong>what really matters</strong>, and building <strong>polished experiences</strong> with or without a UX team
</div>

{% include "components/signup.njk" %}

{{ layoutContent | safe }}
